.defaultCSS {
    font-size :  14px;
    vertical-align : middle;
    font-weight : bold;
    text-align : center;
    background : #fafafa;
    border : 1px solid #d1d1d1;
    fontFamily: 'Roboto, sans-serif';
    height : 32px;
    color : '#cccccc';
    text-transform : uppercase;
    font-weight : bold;
    display : inline-block;
}

.listDefaultCSS  {
    vertical-align : middle;
    text-align : center;
    width : 100%;
    position : relative;
    top : 50%;
    transform : translateY(-50%);
}

.vSeparatorCSS {
    display : inline;
    width : 1px;
    height : 100%;
    border-right : 1px solid #d1d1d1;
    margin-right : 12px;
    margin-left : 12px;
}

.listItemDefaultCSS  {
    display : inline-block;
    cursor : pointer;
}

.descDefaultCSS  {
    color : *#a5a5a5;
    cursor : default;
}

.parentCSS  {
    height: 35px;
    margin-Left: 0px!important;
    text-align : center;
    display : table;
}